{% extends 'DiDiStoreApp/base.html' %}
{% load static %}
{% block main %}
<article class="book_content">
    <div class="book_contanet_wrapper">
        <div class="book_section">
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="book_img_title">
                    <img src="{% static 'DiDiStoreApp/images/faiman.png' %}"  alt="faiman" class="book_img">
                    <p class="book_title">Вы конечно, шутите</p>
                </div>
                <div class="btn_price_rating">
                    <a href = "{% url 'details' %}" class="buy_btn" id ="show_modal_window">Купить</a>
                    <div class="price_rating">
                        <span class="price">
                            <p>1520тг</p>
                            <i class="fa-solid fa-bag-shopping mini_bag" title="добавить в желаемое"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
      
    </div>

</article>

{% endblock %}